
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .sort{
    display: flex;
    text-align: left;

  }

  .card-image> img{

    width: 1rem;
    height: 2rem;

  }
  