
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .dialog {
    background-color: beige;
    width: 70%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
  }
  .sort{
    display: flex;
    text-align: right;

  }

  .material-icons {
    color: white;
    
    }

    input{

      width: 2rem;
      height : 1rem;
    }

    ul {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }

  .page-content {
    background-color: beige;
    width: 90%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 20px;
  }
  